<div class="flex flex-col flex-auto min-w-0  px-8 sm:px-8">

    <div class="w-full p-4">
        <div class="c-card block bg-white shadow-md rounded-lg overflow-hidden p-4">
            <div class="flex items-center pb-4">
                <div class="pr-6">
                    <h2 class="mb-1 font-bold">Име на задача</h2>
                    <p class="text-sm">Разгледување на Angular</p>
                </div>

                <div class="p-6 text-sm text-gray-700">
                    <h1 class="mb-1 font-bold">Клиент</h1>
                    <span>Никоб</span>
                </div>

                <div class="p-6 text-sm text-gray-700">
                    <h1 class="mb-1 font-bold">Статус</h1>
                    <span>Се извршува</span>
                </div>

                <div class="p-6 text-sm text-gray-700">
                    <h1 class="mb-1 font-bold">Приоритет</h1>
                    <span>Нормален</span>
                </div>

                <div class="p-6 text-sm text-gray-700">
                    <h1 class="mb-1 font-bold">Датум на почеток</h1>
                    <span>20/08/2021</span>
                </div>

                <div class="p-6 border-r text-sm text-gray-700">
                    <h1 class="mb-1 font-bold">Датум на завршување</h1>
                    <span>30/08/2021</span>
                </div>




                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-6 rounded">
                    Заврши
                </button>

                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 ml-6 rounded">
                    Откажи
                </button>


            </div>

            <div class="border-t pt-4 pb-12">
                <h2 class="mt-2 mb-2 font-bold">Опис</h2>
                <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, commodi!
                    Praesentium eligendi labore dicta debitis commodi eum minima, officiis quo fugiat doloribus
                    inventore, earum animi et sit amet ducimus quos odio. Ab vitae beatae consequatur. Iusto sunt
                    aliquid consectetur velit dolorum sequi aut perferendis consequuntur autem porro, quis, vel error?
                </p>
            </div>
        </div>


        <div class="grid grid-cols-3 gap-4 my-6">
            <div class="col-span-2">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Коментар">
                        <ng-template matTabContent>
                            <div class="flex flex-col flex-auto min-w-0">
                                <div class="w-1/2 bg-white p-2 pt-4 rounded w-full max-w-screen-xl mx-auto">
                                    <div class="flex ml-3 items-center">
                                        <div class="mr-3">
                                            <img src="http://picsum.photos/50" alt="" class="rounded-full">
                                        </div>
                                        <div>
                                            <h1 class="font-semibold">Itay Buyoy</h1>
                                        </div>

                                    </div>


                                    <div class="mt-3 p-3 w-full">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Тип на порака</mat-label>
                                            <mat-select>
                                                <mat-option value="option1">Напомена</mat-option>
                                                <mat-option value="option2">Проблем Клиент</mat-option>
                                                <mat-option value="option3">Соопштение</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <textarea rows="3" class="border p-2 rounded w-full"
                                            placeholder="Write something..."></textarea>
                                    </div>

                                    <div class="flex justify-between mx-3">
                                        <div><button
                                                class="px-4 py-1 bg-gray-800 text-white rounded font-light hover:bg-gray-700">Post</button>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="w-1/2 bg-white p-2 pt-4 rounded w-full max-w-screen-xl mx-auto my-4 h-90 overflow-y-auto ">
                                    <!--Comment 1-->
                                    <div class="w-full lg:max-w-full lg:flex">
                                        <div class="h-48 lg:h-auto flex-none bg-cover text-center"
                                            style="background-image: url('/mountain.jpg')" title="Mountain">
                                        </div>
                                        <div class="bg-white p-4 flex flex-col justify-between leading-normal w-full">
                                            <div class="flex ml-3 items-center">
                                                <div class="mr-3">
                                                    <img src="http://picsum.photos/50" alt="" class="rounded-full">
                                                </div>
                                                <div>
                                                    <h1 class="font-semibold">Itay Buyoy</h1>
                                                    <p class="font-xs text-gray-500">25/08/2021</p>
                                                </div>
                                                <div class="bg-gray-200 rounded ml-6">
                                                    <p class="font-xs text-gray-500 p-2 uppercase">проблем - клиент</p>
                                                </div>

                                            </div>
                                            <div class="mb-4 ml-3 mt-4">
                                                <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet,
                                                    consectetur
                                                    adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
                                                    eaque,
                                                    exercitationem praesentium nihil.</p>
                                            </div>
                                            <div class="self-end">
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded mx-2">
                                                    Delete
                                                </button>
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <!--Comment 2-->
                                    <div class="w-full lg:max-w-full lg:flex">
                                        <div class="h-48 lg:h-auto flex-none bg-cover text-center "
                                            style="background-image: url('/mountain.jpg')" title="Mountain">
                                        </div>
                                        <div class="bg-white p-4 flex flex-col justify-between leading-normal w-full">
                                            <div class="flex ml-3 items-center">
                                                <div class="mr-3">
                                                    <img src="http://picsum.photos/50" alt="" class="rounded-full">
                                                </div>
                                                <div>
                                                    <h1 class="font-semibold">Itay Buyoy</h1>
                                                    <p class="font-xs text-gray-500">25/08/2021</p>
                                                </div>
                                                <div class="bg-gray-200 rounded ml-6">
                                                    <p class="font-xs text-gray-500 p-2 uppercase">проблем - клиент</p>
                                                </div>

                                            </div>
                                            <div class="mb-4 ml-3 mt-4">
                                                <p class="text-gray-700 text-base">Клиентот нема доставено потребна
                                                    документација.
                                                    Информиран е да достави!</p>
                                            </div>
                                            <div class="self-end">
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded mx-2">
                                                    Delete
                                                </button>
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <!--Comment 3-->
                                    <div class="w-full lg:max-w-full lg:flex">
                                        <div class="h-48 lg:h-auto flex-none bg-cover text-center "
                                            style="background-image: url('/mountain.jpg')" title="Mountain">
                                        </div>
                                        <div class="bg-white p-4 flex flex-col justify-between leading-normal w-full">
                                            <div class="flex ml-3 items-center">
                                                <div class="mr-3">
                                                    <img src="http://picsum.photos/50" alt="" class="rounded-full">
                                                </div>
                                                <div>
                                                    <h1 class="font-semibold">Itay Buyoy</h1>
                                                    <p class="font-xs text-gray-500">25/08/2021</p>
                                                </div>
                                                <div class="bg-gray-200 rounded ml-6">
                                                    <p class="font-xs text-gray-500 p-2 uppercase">проблем - клиент</p>
                                                </div>

                                            </div>
                                            <div class="mb-4 ml-3 mt-4">
                                                <p class="text-gray-700 text-base">Клиентот нема доставено потребна
                                                    документација.
                                                    Информиран е да достави!</p>
                                            </div>
                                            <div class="self-end">
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded mx-2">
                                                    Delete
                                                </button>
                                                <button
                                                    class="bg-blue-500 hover:bg-blue-700 text-white text-center py-2 px-4 rounded">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Работа">Content 2</mat-tab>
                </mat-tab-group>
            </div>
            <div class="bg-white shadow-md h-2/3">
                <mat-list class="overflow-y-auto">
                    <div mat-subheader class="flex item-center justify-between">
                        Members
                        <mat-icon class="cursor-pointer">add</mat-icon>
                    </div>
                    <mat-list-item *ngFor="let user of users" class="group hover:bg-gray-100 overflow-y-auto">
                        <mat-icon mat-list-icon>portrait</mat-icon>
                        <div mat-line>{{user}}</div>
                        <mat-icon class="cursor-pointer hidden group-hover:block">delete</mat-icon>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <div mat-subheader class="flex item-center justify-between">
                        Attachments
                        <mat-icon class="cursor-pointer">add</mat-icon>
                    </div>
                    <div class="h-50 overflow-y-auto">
                        <mat-list-item *ngFor="let file of files" class="group hover:bg-gray-100">
                            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                            <div mat-line>{{file.name}}</div>
                            <div mat-line> {{file.updated | date}} </div>
                            <mat-icon class="cursor-pointer hidden group-hover:block">delete</mat-icon>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>
    </div>
</div>