.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: none !important;
    min-width: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border: none !important;
}